/* falling-autumn-leave starts   */
.falling-leaves-container {
    position: absolute;
    height:700px;
    width: 100%;
    max-width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 2;
    pointer-events: none;
  
  }
  .falling-leaves-container.two {
      height: 440px;
  }
  .falling-leaves {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
            -webkit-animation: snow linear infinite;
                    animation: snow linear infinite;
  }
  .falling-leaves.foreground {
      background: transparent;
    background-image: url(media/falling_leaves.png);
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
  }
  .falling-leaves.foreground.layered {
    -webkit-animation-delay: 7.5s;
            animation-delay: 7.5s;
  }
  
  @-webkit-keyframes snow {
    0% {
      -webkit-transform: translate3d(0, -100%, 0);
              transform: translate3d(0, -100%, 0);
    }
    100% {
      -webkit-transform: translate3d(15%, 100%, 0);
              transform: translate3d(15%, 100%, 0);
    }
  }
  
  @keyframes snow {
    0% {
      -webkit-transform: translate3d(0, -100%, 0);
              transform: translate3d(0, -100%, 0);
    }
    100% {
      -webkit-transform: translate3d(15%, 100%, 0);
              transform: translate3d(15%, 100%, 0);
    }
  }
  
  @media (max-width: 1366px){
    .falling-leaves-container {
          position: absolute;
          height: 628px;
      }
      
  }
  @media (max-width:1280px){
      .falling-leaves-container {
          position: absolute;
          height: 578px;
      }
  }
  @media (max-width:1080px){
      .falling-leaves-container {
          position: absolute;
          height: 498px;
      }
  }
  @media (max-width:800px){
  
      .falling-leaves-container {
          position: absolute;
          height: 375px;
      }
      .falling-leaves-container.two {
          height: 352px;
      }
  }
  @media (max-width:768px){
      .falling-leaves-container {
          position: absolute;
          height: 373px;
      }
  }
/* falling-autumn-leave ends   */

.homeImage {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: url('media/name.jpg');
}
.name-on-top-center{
    text-align: center;
    margin-left: 30%;
    width: 13em;
    font: 400 5vw/1.2 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
.getting-married{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: url('media/date.jpg');
    /* background-attachment: fixed; */
    /* background: url('media/date.jpg') center top no-repeat fixed; */
}
.getting-married label{
    text-align: center;
    font-style: oblique;
    font-family: -webkit-pictograph;
    width: 20em;
    line-height: 1em;
    color: #FFF;
    font: 400 5vw/1.2 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
.homeContainer{
    position: relative;
    width:100%;
    height:100%;
    overflow:hidden;
}
.story-container{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('media/story.jpeg');
    height: 100%;
    color: #FFF;
    font: 400 3vw/1.2 'Great Vibes', Helvetica, sans-serif;
}
.story-container label{
    width: 15em;
}
.program-name-time{
    color: #6C2608;
    font-size: 2vw;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.program-name{
    color: #6C2608;
    font-size: 2vw;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.program-time{
    color: #FFF;
    font-size: 1.4vw;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.center-text{
    text-align: center;
}
.sub-header {
    text-align: center;
	background: -webkit-linear-gradient(maroon, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: 400 3vw/1.2 'Great Vibes', Helvetica, sans-serif;
}
.program {
    color: #FFF;
    text-align: center;
    background-image: url('media/program.jpeg');
    /* background-attachment: fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.right-align{
    margin-left: 40%;
}
.left-align{
    margin-right:40%;
}

/* Gallery style start */
.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}

#image-gallery .modal-footer{
    display: block;
}

.thumb{
    padding-left: 0px;
    padding-right: 0px;
}
.thumb .thumbnail .img-thumbnail{
    padding: 0;
}
/* Gallery style end */

@media only screen and (max-width: 768px){
    .falling-leaves.foreground {
      background-image: url('media/falling_leaves_small.png');
    }
    .homeImage {
        background-image: url('media/name_small.jpg');
        height: 50%;
    }
    .getting-married{
        background-image: url('media/date_small.jpg');
        /* background: url('media/date_small.jpg') center top no-repeat fixed; */
        height: 50%;
    }
    .story-container{
        background-image: url('media/story_small.jpeg');
        height: 50%;
    }
    .bridepic {
        background-image: url('media/bridepic_small.jpg');
        height: 50%;
    }
    .groompic {
        background-image: url('media/groompic_small.jpg');
        height: 50%;
    }
    .program {
        background-image: url('media/program_small.jpeg');
        height: 50%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px){
    .falling-leaves.foreground {
      background-image: url('media/falling_leaves_small.png');
    }
    .homeImage {
        background-image: url('media/name_medium.jpg');
        height: 70%;
    }
    .getting-married{
        background-image: url('media/date_medium.jpg');
        /* background: url('media/date_medium.jpg') center top no-repeat fixed; */
        height: 70%;
    }
    .story-container{
        background-image: url('media/story_medium.jpeg');
        height: 50%;
    }
    .program {
        background-image: url('media/program_medium.jpeg');
        height: 50%;
    }
}
@media only screen and (min-width: 768px){
    .getting-married{
        background-attachment: fixed;
    }
    .program{
        background-attachment: fixed;
    }
}
@media only screen and (max-width: 768px) and (orientation: portrait ){
    
}