.content {display:none;}
.preload { width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;}
.homeImage {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: url('media/name.jpg');
}
.name-on-top-center{
    text-align: center;
    margin-left: 30%;
    width: 13em;
    font: 400 5vw/1.2 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
.getting-married{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: url('media/date.jpg');
    /* background-attachment: fixed; */
}
.getting-married label{
    text-align: center;
    font-style: oblique;
    font-family: -webkit-pictograph;
    width: 20em;
    line-height: 1em;
    color: #FFF;
    font: 400 5vw/1.2 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
.homeContainer{
    position: relative;
    width:100%;
    height:100%;
    overflow:hidden;
}
.story-container{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('media/story.jpeg');
    height: 100%;
    color: #FFF;
    font: 400 3vw/1.2 'Great Vibes', Helvetica, sans-serif;
}
.story-container label{
    width: 15em;
}
.program-name{
    color: #6C2608;
    font-size: 2vw;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.program-time{
    color: #FFF;
    font-size: 1.4vw;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.center-text{
    text-align: center;
}
.sub-header {
    text-align: center;
	background: -webkit-linear-gradient(maroon, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: 400 5vw/1.2 'Great Vibes', Helvetica, sans-serif;
}
.program {
    color: #FFF;
    text-align: center;
    background-image: url('media/program.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    /* background-attachment: fixed; */
}
.right-align{
    margin-left: 40%;
}
.left-align{
    margin-right:40%;
}

/* Gallery style start */
.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}

#image-gallery .modal-footer{
    display: block;
}

.thumb{
    padding-left: 0px;
    padding-right: 0px;
}
.thumb .thumbnail .img-thumbnail{
    padding: 0;
}
/* Gallery style end */
.courtsey{    
    text-align: center;
	background: -webkit-linear-gradient(maroon, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: 400 3vw/1.2 'Great Vibes', Helvetica, sans-serif;
}

@media only screen and (max-width: 768px){
    .homeImage {
        background-image: url('media/name_small.jpg');
        height: 40%;
    }
    .getting-married{
        background-image: url('media/date_small.jpg');
        height: 40%;
    }
    .story-container{
        background-image: url('media/story_small.jpeg');
        height: 40%;
    }
    .program {
        background-image: url('media/program_small.jpeg');
        height: 40%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px){
    .homeImage {
        background-image: url('media/name_medium.jpg');
        height: 70%;
    }
    .getting-married{
        background-image: url('media/date_medium.jpg');
        height: 70%;
    }
    .story-container{
        background-image: url('media/story_medium.jpeg');
        height: 70%;
    }
    .program {
        background-image: url('media/program_medium.jpeg');
        height: 70%;
    }
}
@media only screen and (min-width: 768px){
    .getting-married{
        background-attachment: fixed;
    }
    .program{
        background-attachment: fixed;
    }
}
@media only screen and (max-width: 768px) and (orientation: portrait ){
    .getting-married{
        background-attachment: fixed;
    }
    .program{
        background-attachment: fixed;
    }
}